.container {
  line-height: 150%;
  display: flex;
  justify-content : space-between;
  padding: 15px;
  align-items: center;
}

.title {
  display: inline;
  padding-left: 5px;
  color: #F5A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.dropbtn:focus {

}

.dropdown-content {

}
