.GrayButton {
  background-color: gray;
  color: white;
  width: 300px;
}

.RedButton {
  background-color: red;
  color: white;
  width: 300px;
}

h1 {
  display: flex;
  justify-content: center;
}

.comment {
  font-weight: bold;
}

.deleteForm {
  padding: 5px;
}
